@use '../abstracts/' as *;


// hover img

.hover-img {
    .img-style {
        overflow     : hidden; 
        border-radius: 10px;
        img {
            width             : 100%;
            object-fit        : cover;
            -webkit-transition: all 1s cubic-bezier(0.30, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.30, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }
    }
    &:hover {
        img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
            -webkit-transition: all 2s cubic-bezier(0.30, 1, 0.35, 2) 0s;
            transition: all 2s cubic-bezier(0.30, 1, 0.35, 2) 0s;   
        }
    }

    .img-style2 {
        overflow     : hidden; 
        border-radius: 10px;
        .img-hv {
            width             : 100%;
            object-fit        : cover;
            -webkit-transition: all 1s cubic-bezier(0.30, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.30, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }
    }
} 

.hover-img2 {
    .img-style2 {
        overflow: hidden;
        border-radius: 8px;
        .img2 {
            @include transition3;
        }
    }
    &:hover {
        .img2 {
            transform:  scale(1.1) rotate(5deg);
        }
    }
} 


.hover-img3 {
    .img-style3 {
        border-radius: 8px;
        overflow     : hidden; 
        img {
            width             : 100%;
            @include transition3;
        }
    }
    &:hover {
        img {
            transform:  scale(1.075);
            @include transition3;
        }
    }
} 

// .hv-one {
//     position: relative;
//     .hover-one::after,
//     .hover-one::before {
//         content: "";
//         background: $color-3;
//         height: 0;
//         width: 0;
//         z-index: 1;
//         position: absolute;
//         opacity: .6;
//     }
//     .hover-one {
//         &::after {
//             z-index: 3;
//             bottom: 0;
//             left: 0;
//         }
//         &::before {
//             z-index: 3;
//             right: 0;
//             top: 0;
//         }
//     }
//     &:hover .hover-one::after,
//     &:hover .hover-one::before  {
//         height: 100%;
//         width: 100%;
//         opacity: 0;
//         transition-duration: 1.3s!important;
//     }
// }
.pagi2 .swiper-pagination2,
            .swiper-button-next2,
            .swiper-button-prev2,
.hv-one {
    &:hover {
        .box-img {
            .icon-practice {
                opacity: 1;
                z-index: 99;
                top: 50%;
                transition-delay: 0.5s;
            }

        }
        .img-style {
            &::before {
                transform: scale(1, 1);
                transform-origin: center;
            }
        }
    }
    .img-style {
        border-radius: 10px;
        overflow: hidden;
        &::before {
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background: #00000080;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 99;
            transform: scale(0, 0);
            transition: transform 1000ms ease;
            border-radius: 10px;
        }
        // &:hover {
        //     &::before {
        //         transform: scale(1, 1);
        //         transform-origin: center;
        //     }
        // }
       
    }
    
}


// hover overlay
.box-hv {
    &.hover-style2,
    .hover-style {
        position: relative;
        &::before {
            content: '';
            @include absolute;
            background: $color-3;
            width: 100%;
            height: 100%;
            @include transition3;
            transform: scale(1, 0 ) rotate(-15deg);
            transform-origin: top left;
            transition: transform 400ms ease;
        }
        &.hv-2::before {
            background: rgb(86,169,24,0.95);
            mix-blend-mode: multiply;
            transform-origin: center;
            transform: scale(0, 0);
        }
    }  
    &:hover {
        &.hover-style2::before,
        .hover-style::before {
            transform: scale(1, 1) rotate(0deg);
        } 
    }
}

.hv-tool {
    position: relative;
    transition: all 0.3s ease;
}

.hv-tool::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: $color-2;
    padding: 6px 11px;
    background: $color-1;
    box-shadow: 0px 4px 26px 0px #42474C1F;
    width: max-content;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.3s ease;
}

.hv-tool::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: "";
    border: 6px solid transparent;
    border-top-color: $color-1;
    transition: all 0.3s ease;
}

.hv-tool::after,
.hv-tool::before {
    opacity: 0;
    --arrow-size: 6px;
    position: absolute;
    top: 0px;
    left: 45%;
    transform: translateX(-50%) translateY(var(--translate-y, 0));
    transition: all 0.3s ease;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

 .hv-tool:hover::before,
.hv-tool:hover::after {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    top: -5px;
}

 .hv-tool:hover {
    z-index: 2;
    transform: translateY(-3px) scale(1.1);
}


