@use '../abstracts/' as *;

/* side bar */
.search-flat {
    margin-right: 6px;
    .search-form {
        .search-field {
            box-shadow: 5px 5px 0 black;
            &::placeholder {
                color: $color-1 !important;
            }
        }    

    }
}

.side-bar {
        .widget {
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0px;
            }     
        }
        .widget-contact {
            margin-bottom: 42px;
            .box-contact {
                margin-bottom: 20px;
                border-bottom: 1px solid $color-8;
                padding-bottom: 19px;
                .img-author {
                    margin-right: 17px;
                }
                &:last-child {
                    margin-bottom: 0px;
                    padding-bottom: 0;
                    border-bottom: 0;
                }  
            }
        }
        
        .widget-listings {
            margin-bottom: 39px;
            .box-listings {
                margin-bottom: 21px;
                padding-bottom: 19px;
                border-bottom: 1px solid $color-8;
                .img-listings {
                    margin-right: 5px;
                    flex: none;
                }
                &:last-child {
                    margin-bottom: 0px;
                    border-bottom: 0px;
                    padding-bottom: 0;
                } 
                .content {
                    padding-left: 8px;
                    a {
                        margin-bottom: 6px;
                    }
                }
            }
        }
        
        .widget-estate {
            margin-bottom: 29px;
            .group-estate {
                flex-wrap: wrap;
                margin-left: -10px;
                .box-estate {
                    width: calc(50% - 10px);
                    margin-left: 10px;
                    margin-bottom: 21px;
                    .thumb {
                        position: relative;
                        &::before {
                            content: '';
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.85%, #000000 100%);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            border-radius: 8px;
                        }
                        img {
                            border-radius: 8px;
                        }
                    }
                    .content {
                        margin-top: -45px;
                        padding-left: 10px;
                        z-index: 2;
                        position: relative;
                    }
                }
            }
        }
        
        .box-ads {
            background: url(./../../assets/images/section/sidebar-ads.jpg) center center no-repeat;
            //background-image: url(../../../assets/images/section/bg-testimonial2.png);
            background-size: cover;
            border-radius: 10px;
            padding: 336px 50px 27px 31px;
            position: relative;
            &::before {
                @include imgover;
                background: linear-gradient(180deg, rgba(107, 144, 128, 0) 36.38%, #24332C 100%);
            }
            .icon-p {
                
                &::before {
                    color: $color-1;
                }
            }
            h3 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
            }
        }
        
        .widget-marketing  {
            background-color: #FFE8CE;
            border: 0px;
            padding: 34px 34px 41px;
            .titles {
                margin-bottom: 23px;
            }
            .buttons {
                margin-bottom: 35px;
            }
        }
        .widget-title {
            position: relative;   
            padding-left: 1px;
            margin-bottom: 21px;
            // &.title-search {
            //     margin-bottom: 19px; 
            // }
            // &.title-list {
            //     margin-bottom: 21px;
            // }
            // &.title-news {
            //     margin-bottom: 21px;
            // }
            // &.title-tags {
            //     margin-bottom: 24px;
            // }
        }
  

}

.widget-rent {
    border: 1px solid #F0F0F0;
    padding: 29px 29px 28px;
    background: #FAFAFA;
    margin-bottom: 40px;
    .flat-tabs.style2 {
        .tab-title li {
            width: 140px;
            &:nth-child(1) {
                margin-right: 10px;
            }
        }
        .box-tab {
            margin-right: 0px;
        }
    }
    .form-s2 {
        padding-top: 11px;
    }
    .form-group-1 {
        margin-bottom: 12px;
    }
    .wd-find-select {
        .group-select .nice-select {
            height: 54px;
            width: 100%;
            padding: 15px 17px;
            margin-bottom: 12px;
            &::after {
                border-bottom: 1px solid #3A3A3C;
                border-right: 1px solid #3A3A3C;
            }
        }
        .form-group-5 .nice-select {
            margin-bottom: 26px;
        }
    }
    
    .style-group {
        margin-bottom: 13px;
        h4 {
            margin-bottom: 8px;
        }
        .inner {
            margin-left: -20px;
            .group-select {
                width: calc(50% - 20px);
                margin-left: 20px;
            }
        }
    }
    .button-search a {
        width: 100%;
    }
}

.widget-menu {
    .recent-news {
        li {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0px !important;
            }           
            .thumb {
                position: relative;
                overflow     : hidden; 
                width: 90px;
                height: 90px; 
                flex: none;
                box-shadow: 5px 5px 0 $color-2;
                @include transition3;
            }
            .content {         
                padding-left: 35px;
                padding-top: 5px;   
                .days {
                    font-size: 14px;
                    margin-bottom: 4.5px;
                    color: $color-3;
                    &::before {
                        content: "\f272";
                        font-family: "Font Awesome 5 Pro";
                        font-size: 16px;
                        margin-right: 10px;
                        font-weight: 300;
                        color: $color-3;
                    }
                }           
                .title {
                   line-height: 23px;
                }
                h5 {
                    margin-bottom: 0;
                }
            }
            &:hover .thumb{
                box-shadow: 5px 5px 0 $color-3;
            }
        }   
    }
}




/* price-range */

.noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .noUi-horizontal {
    height: 3px;
  }
  
  .noUi-horizontal .noUi-handle {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0px;
    top: -3px;
    background-color: $color-3;
  }

  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
    // background: rgba(18,10,33,0.2) ;
  }
  
  .noUi-connect {
    background: $color-3;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    width: 100%;
    height: 3px ;
    border-radius: 2px;
    margin-bottom: 12px;
  }
  
  .noUi-horizontal .noUi-handle.noUi-handle-upper {
    left: -7px;
  }

/* Handles and cursors;
 */
 .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #0d0d0d;
    border: 8px solid rgba(13, 13, 13, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }
  .slider-labels .caption {
    font-weight: 500;
    font-size: 16px;
    font-family: $font-2;
  }
  #slider-range-value1::after {
    content: " — ";
    margin: 0 2px;
  }
