
$font-1: 'Poppins', sans-serif;
$font-2: 'Mulish', sans-serif;

$fs-8: 8px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-23: 23px;
$fs-24: 24px;


$color-1: #fff;
$color-2: #120A21;
$color-3: #FFA920;
$color-4: #8E8E93;
$color-5: #E5E5EA;
$color-6: #FFF5E0;
$color-7: #3A3A3C;
$color-8: #EFEFEF;
$bg-color: #FFF4E7;
$bg-color2: #FFE8CE;
$bg-h2: #180D45;
// $bg-color3: #FFF4E7;
